<template>
  <div class="d-flex flex-column justify-content-between" style="min-height: 100vh;">
    <div>
      <navigation-view/>

      <div class="container mt-5">
        <router-view/>
      </div>
    </div>

    <footer class="mt-5 bg-dark text-center text-light p-4">
      Mantas Klimašauskas &copy; 2021
    </footer>
  </div>
</template>

<script lang="ts">
import { defineComponent } from 'vue';
import NavigationView from '@/views/NavigationView.vue';

export default defineComponent({
  components: {NavigationView}
});
</script>
