<template>
  <div class="card mx-auto" style="max-width: 400px;">
    <div class="card-header">
      Login
    </div>

    <div class="card-body">
      <div v-if="error" class="alert alert-danger mb-3">
        {{ error }}
      </div>

      <template v-if="isLoggedIn">
        <p>You are logged in.</p>

        <button class="btn btn-primary" type="button" @click="onLogout()" :disabled="loggingOut">
          Logout
        </button>
      </template>

      <template v-else>
        <form @submit.prevent="onSubmit()" class="m-0">
          <div class="form-group">
            <label :for="id('usernameOrEmail')">Username or email:</label>
            <input :id="id('usernameOrEmail')" type="text" class="form-control" v-model="usernameOrEmail" :readonly="loggingIn">
          </div>

          <div class="form-group">
            <label :for="id('password')">Password:</label>
            <input :id="id('password')" type="password" class="form-control" v-model="password" :readonly="loggingIn">
          </div>

          <button class="btn btn-primary" type="submit" :disabled="loggingIn">
            Login
          </button>

          <div class="progress mt-2" style="height: 0.5rem;" v-if="loggingIn">
            <div class="progress-bar progress-bar-striped progress-bar-animated w-100"></div>
          </div>
        </form>
      </template>
    </div>
  </div>
</template>

<script lang="ts">
import { computed, defineComponent, ref } from 'vue';
import { useUniqueId } from '@/utils/uniqueId';
import { AuthErrorCodes, authService } from '@/services/AuthService';
import { RouteLocationRaw, useRoute, useRouter } from 'vue-router';
import { routeExists } from '@/router';

export default defineComponent({
  setup() {
    const id = useUniqueId('login');
    const router = useRouter();
    const route = useRoute();

    const returnTo = computed<RouteLocationRaw>(
        () => typeof route.query.returnTo === 'string' && routeExists(route.query.returnTo)
            ? route.query.returnTo
            : { name: 'home' }
    );

    const usernameOrEmail = ref('');
    const password = ref('');

    const error = ref<string>();
    const loggingIn = ref(false);

    const onSubmit = () => {
      error.value = undefined;
      loggingIn.value = true;

      authService.login(usernameOrEmail.value, password.value).then(result => {
        if (result.hasError) {
          if (result.errorCode === AuthErrorCodes.InvalidCredentials) {
            error.value = 'Invalid username or password.';
          } else {
            error.value = result.errorCode;
          }
        } else {
          if (typeof returnTo.value !== 'undefined') {
            router.push(returnTo.value);
          }
        }
      }).finally(() => {
        loggingIn.value = false;
      });
    };

    const loggingOut = ref(false);

    const onLogout = () => {
      loggingOut.value = true;

      authService.logout().then(result => {
        if (result.hasError) {
          error.value = result.errorCode;
        }
      }).finally(() => {
        loggingOut.value = false;
      });
    };

    return {
      id,

      usernameOrEmail,
      password,

      error,
      loggingIn,

      isLoggedIn: authService.isLoggedIn,

      onSubmit,

      loggingOut,
      onLogout
    };
  }
});
</script>
