<template>
  <nav class="navbar navbar-expand-sm shadow app-navbar">
    <div class="container">
      <router-link :to="{ name: 'home' }" class="navbar-brand">Issue Tracker</router-link>

      <button class="navbar-toggler" type="button" data-toggle="collapse" :data-target="'#' + id('collapse')">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" :id="id('collapse')">
        <ul class="navbar-nav ml-auto">
          <router-link :to="{ name: 'projects' }" custom v-slot="{ href, navigate, isActive }">
            <li class="nav-item" :class="{'active': isActive}">
              <a class="nav-link" :href="href" @click="navigate">Projects</a>
            </li>
          </router-link>

          <router-link :to="{ name: 'administration' }" custom v-slot="{ href, navigate, isActive }" v-if="isAdmin">
            <li class="nav-item" :class="[isActive && 'active']">
              <a class="nav-link" :href="href" @click="navigate">Administration</a>
            </li>
          </router-link>

          <template v-if="isLoggedIn">
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown">
                {{ username }}
              </a>
              <div class="dropdown-menu dropdown-menu-right">
                <router-link class="dropdown-item" :to="{name: 'profile', params: {userId}}">Profile</router-link>
                <a class="dropdown-item" type="button" @click="onLogout()">Logout</a>
              </div>
            </li>
          </template>

          <template v-else>
            <router-link :to="{ name: 'login' }" custom v-slot="{ href, navigate, isActive }">
              <li class="nav-item" :class="[isActive && 'active']">
                <a class="nav-link" :href="href" @click="navigate">Login</a>
              </li>
            </router-link>

            <router-link :to="{ name: 'register' }" custom v-slot="{ href, navigate, isActive }">
              <li class="nav-item" :class="[isActive && 'active']">
                <a class="nav-link" :href="href" @click="navigate">Register</a>
              </li>
            </router-link>
          </template>
        </ul>
      </div>
    </div>
  </nav>
</template>

<script lang="ts">
import { computed, defineComponent } from 'vue';
import { useUniqueId } from '@/utils/uniqueId';
import { authService } from '@/services/AuthService';
import { useRouter } from 'vue-router';
import { Role } from '@/model/Role';

export default defineComponent({
  setup() {
    const id = useUniqueId('navbar');
    const router = useRouter();

    const username = computed(() => authService.claims.value?.username);
    const userId = computed(() => authService.claims.value?.userId);
    const isAdmin = computed(() => authService.claims.value?.role === Role.Admin);

    const onLogout = async () => {
      await authService.logout();
      await router.push({name: 'home'});
    };

    return {
      id,

      onLogout,

      isLoggedIn: authService.isLoggedIn,
      isAdmin,
      username,
      userId
    };
  }
});
</script>
