<template>
  <div class="card">
    <div class="card-body" v-if="userLoadingError">
      <div class="alert alert-danger">
        {{ userLoadingError }}
      </div>
    </div>

    <div class="card-body" v-if="!user">
      <p class="card-text">
        Loading profile...
      </p>

      <div class="progress">
        <div class="progress-bar progress-bar-striped progress-bar-animated w-100"></div>
      </div>
    </div>

    <template v-else>
      <h1 class="card-header">
        Projects of {{ user.username }}
      </h1>
      <projects-list-view :user-id="user.id" :filter-by-visibility="user.id === currentUserId || currentUserRole === Role.Admin"/>
    </template>
  </div>
</template>

<script lang="ts">
import { computed, defineComponent, ref, watch } from 'vue';
import { useRoute, useRouter } from 'vue-router';
import { IUserInfo } from '@/model/IUserInfo';
import { userInfosService } from '@/services/UserInfosService';
import { localizeErrorCode } from '@/utils/localization';
import ProjectsListView from '@/views/projects/ProjectsListView.vue';
import { authService } from '@/services/AuthService';
import { Role } from '@/model/Role';

export default defineComponent({
  components: {ProjectsListView},
  setup() {
    const router = useRouter();
    const route = useRoute();

    const userId = computed(() => route.params.userId as string);

    const user = ref<IUserInfo>();
    const userLoadingError = ref();

    const loadUser = () => {
      userLoadingError.value = undefined;

      userInfosService.get(userId.value).then(async result => {
        if (result.hasError) {
          userLoadingError.value = localizeErrorCode(result.errorCode!);
        } else if (!result.value) {
          await router.push({name: '404', query: {url: route.fullPath}});
        } else {
          user.value = result.value;
        }
      });
    };

    watch(userId, () => loadUser(), {immediate: true});

    return {
      Role,

      currentUserId: computed(() => authService.claims.value?.userId),
      currentUserRole: computed(() => authService.claims.value?.role),

      user,
      userLoadingError
    };
  }
});
</script>
