<template>
  <div class="card mx-auto" style="max-width: 400px;">
    <div class="card-header">
      Register
    </div>

    <div class="card-body">
      <div v-if="error" class="alert alert-danger mb-3">
        {{ error }}
      </div>

      <template v-if="registered">
        <p>
          You have registered successfully. You can now
          <router-link :to="{name: 'login'}">login</router-link>.
        </p>
      </template>

      <template v-else>
        <form @submit.prevent="onSubmit()" class="m-0">
          <div class="form-group">
            <label :for="id('email')">Email:</label>
            <input :id="id('email')" type="email" class="form-control" v-model="email" :readonly="registering">
          </div>

          <div class="form-group">
            <label :for="id('username')">Username:</label>
            <input :id="id('username')" type="text" class="form-control" v-model="username" :readonly="registering">
          </div>

          <div class="form-group">
            <label :for="id('password')">Password:</label>
            <input :id="id('password')" type="password" class="form-control" v-model="password" :readonly="registering">
          </div>

          <button class="btn btn-primary" type="submit" :disabled="registering">
            Register
          </button>

          <div class="progress mt-2" style="height: 0.5rem;" v-if="registering">
            <div class="progress-bar progress-bar-striped progress-bar-animated w-100"></div>
          </div>
        </form>
      </template>
    </div>
  </div>
</template>

<script lang="ts">
import { defineComponent, ref } from 'vue';
import { useUniqueId } from '@/utils/uniqueId';
import { AuthErrorCodes, authService } from '@/services/AuthService';
import { localizeErrorCode } from '@/utils/localization';

const registerErrorCodes = {
  [AuthErrorCodes.EmailTaken]: 'Email is already taken.',
  [AuthErrorCodes.UsernameTaken]: 'Username is already taken'
};

export default defineComponent({
  setup() {
    const id = useUniqueId('login');

    const email = ref('');
    const username = ref('');
    const password = ref('');

    const error = ref<string>();
    const registering = ref(false);
    const registered = ref(false);

    const onSubmit = () => {
      error.value = undefined;
      registering.value = true;

      authService.register(email.value, username.value, password.value).then(result => {
        if (result.hasError) {
          error.value = localizeErrorCode(result.errorCode!, registerErrorCodes);
        } else {
          registered.value = true;
        }
      }).finally(() => {
        registering.value = false;
      });
    };

    return {
      id,

      email,
      username,
      password,

      error,
      registering,
      registered,

      onSubmit
    };
  }
});
</script>
