<template>
  <div class="d-flex align-items-center mb-3" v-if="loadingTimeline">
    <span class="spinner-border text-accent mr-1"></span>
    Loading comments and events...
  </div>

  <div class="alert alert-danger mb-3" v-if="timelineError">
    {{ timelineError }}
  </div>

  <template v-for="timelineItem of timelineItems" :key="timelineItem">
    <div class="card card-default card-sm border border-dark mb-2" v-if="timelineItem.type === 'comment'">
      <div class="card-header">
        <span class="badge badge-accent mr-1" v-if="timelineItem.comment.author.id === issue.author.id">
          author
        </span>

        <router-link :to="{name: 'profile', params: {userId: timelineItem.comment.author.id}}" class="font-weight-bold">
          {{ timelineItem.comment.author.username }}
        </router-link>

        commented on

        <relative-date-time :date="timelineItem.comment.dateCreated"/>

        <template v-if="timelineItem.comment.dateCreated.getTime() !== timelineItem.comment.dateModified.getTime()">
          (edited on <span><relative-date-time :date="timelineItem.comment.dateModified"/></span>)
        </template>
      </div>
      <div class="card-body">
        <markdown-view :value="timelineItem.comment.body"/>
      </div>
    </div>
    <div class="d-flex align-items-center mb-2" v-else-if="timelineItem.type === 'event'">
      <span class="fas fa-circle text-accent mr-1"></span>

      <span>
        on

        <relative-date-time :date="timelineItem.event.timestamp"/>

        {{ ' ' }}

        <template v-if="timelineItem.event.type === IssueEventType.Title">
          <strong>title</strong> was updated
        </template>
        <template v-else-if="timelineItem.event.type === IssueEventType.Body">
          <strong>description</strong> was updated
        </template>
        <template v-else-if="timelineItem.event.type === IssueEventType.Status">
          <strong>status</strong> was changed to <span class="text-accent">{{ timelineItem.event.status }}</span>
        </template>
        <template v-else-if="timelineItem.event.type === IssueEventType.AssignedUsers">
          <template v-if="timelineItem.event.assignedUsers.length === 0">
            <strong>everyone was unassigned</strong> from this issue
          </template>
          <template v-else>
            <template v-for="(user, i) of timelineItem.event.assignedUsers" :key="user.id">
              <span class="badge badge-accent mr-1" v-if="user.id === issue.author.id">
                author
              </span>

              <router-link :to="{name: 'profile', params: {userId: user.id}}">
                {{ user.username }}
              </router-link>

              {{ i < timelineItem.event.assignedUsers.length - 2 ? ', ' : i === timelineItem.event.assignedUsers.length - 2 ? ' and ' : '' }}
            </template> {{ timelineItem.event.assignedUsers.length === 1 ? 'was' : 'were' }} <strong>assigned</strong> to this issue
          </template>
        </template>
        <template v-else-if="timelineItem.event.type === IssueEventType.Labels">
          <template v-if="timelineItem.event.labels.length === 0">
            <strong>all labels</strong> were removed
          </template>
          <template v-else>
            <strong>labels</strong> were changed to
            <span class="badge badge-pill badge-accent mr-1" v-for="label of timelineItem.event.labels" :key="label.name">
              {{ label.name }}
            </span>
          </template>
        </template>

        <template v-if="timelineItem.event.author">
          by

          <span class="badge badge-accent" v-if="timelineItem.event.author.id === issue.author.id">
            author
          </span>

          {{ ' ' }}

          <router-link :to="{name: 'profile', params: {userId: timelineItem.event.author.id}}">
            {{ timelineItem.event.author.username }}
          </router-link>
        </template>
      </span>
    </div>
  </template>

  <div class="card mt-3" v-if="isLoggedIn">
    <div class="card-header">
      Write a comment
    </div>
    <div class="card-body">
      <div class="alert alert-danger mb-3" v-if="commentError">
        {{ commentError }}
      </div>

      <form @submit.prevent="submitComment()">
        <div class="form-group">
          <markdown-editor v-model="commentBody"
                           :disabled="submittingComment || issue.status === IssueStatus.Closed"
                           required/>
        </div>

        <button class="btn btn-outline-primary"
                type="submit"
                :disabled="submittingComment || issue.status === IssueStatus.Closed">
          Comment
        </button>
      </form>
    </div>
  </div>
</template>

<script lang="ts">
import { computed, defineComponent, PropType, ref, toRefs, watch } from 'vue';
import MarkdownView from '@/components/MarkdownView.vue';
import MarkdownEditor from '@/components/MarkdownEditor.vue';
import { IComment } from '@/model/IComment';
import { commentsService } from '@/services/CommentsService';
import { authService } from '@/services/AuthService';
import { IIssue, IssueStatus } from '@/model/IIssue';
import { IIssueEvent, IssueEventType, IssueEventUnion } from '@/model/IIssueEvent';
import { issueEventsService } from '@/services/IssueEventsService';
import { Result } from '@/model/Result';
import { localizeErrorCode } from '@/utils/localization';
import RelativeDateTime from '@/components/RelativeDateTime.vue';

type ITimelineItem = {
  type: 'comment';
  comment: IComment;
} | {
  type: 'event';
  event: IssueEventUnion;
};

export default defineComponent({
  components: {RelativeDateTime, MarkdownEditor, MarkdownView},
  props: {
    projectId: {
      type: String,
      required: true
    },
    issue: {
      type: Object as PropType<IIssue>,
      required: true
    },
    issueUpdateNr: {
      type: Number,
      required: true
    }
  },
  setup(props: { projectId: string, issue: IIssue, issueUpdateNr: number }) {
    const {projectId, issue, issueUpdateNr} = toRefs(props);

    const timelineError = ref<string>();
    const loadingTimeline = ref(false);
    const comments = ref<IComment[]>([]);
    const events = ref<IssueEventUnion[]>([]);

    const loadTimelineItems = () => {
      timelineError.value = undefined;
      loadingTimeline.value = true;

      Promise.all([
        commentsService.getAll(projectId.value, issue.value.id),
        issueEventsService.getAll(projectId.value, issue.value.id)
      ]).then(([commentsResult, eventsResult]: [Result<IComment[]>, Result<IIssueEvent[]>]) => {
        if (commentsResult.hasError) {
          timelineError.value = localizeErrorCode(commentsResult.errorCode!);
        } else {
          comments.value = commentsResult.value;
        }

        if (eventsResult.hasError) {
          timelineError.value = localizeErrorCode(eventsResult.errorCode!);
        } else {
          events.value = eventsResult.value;
        }
      }).finally(() => {
        loadingTimeline.value = false;
      });
    };

    const timelineItems = computed<ITimelineItem[]>(() =>
        [
          ...comments.value.map(comment => ({type: 'comment', comment: comment} as ITimelineItem)),
          ...events.value.map(event => ({type: 'event', event: event} as ITimelineItem))
        ].sort((a, b) => {
          const aTimestamp = a.type === 'comment' ? a.comment.dateCreated : a.event.timestamp;
          const bTimestamp = b.type === 'comment' ? b.comment.dateCreated : b.event.timestamp;

          return aTimestamp.getTime() - bTimestamp.getTime();
        })
    );

    const commentError = ref<string>();
    const commentBody = ref('');
    const submittingComment = ref(false);

    const submitComment = async () => {
      commentError.value = undefined;
      submittingComment.value = true;

      const result = await commentsService.create(projectId.value, issue.value.id, {
        body: commentBody.value,
        author: authService.claims.value!.userId
      }).finally(() => {
        submittingComment.value = false;
      });

      if (result.hasError) {
        commentError.value = result.errorCode;
      } else {
        commentBody.value = '';
        await loadTimelineItems();
      }
    };

    watch(
        [projectId, issue, issueUpdateNr],
        () => {
          loadTimelineItems();
        },
        {
          immediate: true
        }
    );

    return {
      IssueStatus,
      IssueEventType,

      isLoggedIn: authService.isLoggedIn,

      timelineError,
      loadingTimeline,
      timelineItems,

      commentError,
      commentBody,
      submittingComment,
      submitComment
    };
  }
});
</script>
