<template>
  <view-issue v-if="issue" :issue="issue" :update="updateIssue" :issue-update-nr="issueUpdateNr"/>
  <div class="card" v-else-if="error">
    <div class="card-header">
      Error
    </div>
    <div class="card-body">
      {{ error }}
    </div>
  </div>
  <div class="card" v-else>
    <div class="card-body">
      <p>
        Loading issue...
      </p>

      <div class="progress">
        <div class="progress-bar progress-bar-striped progress-bar-animated w-100"></div>
      </div>
    </div>
  </div>
</template>

<script lang="ts">
import { computed, defineComponent, ref, watch } from 'vue';
import { useRoute } from 'vue-router';
import { IIssue } from '@/model/IIssue';
import { IIssueUpdates, issuesService } from '@/services/IssuesService';
import ViewIssue from '@/views/issue/ViewIssue.vue';

export default defineComponent({
  components: {ViewIssue},
  setup() {
    const route = useRoute();

    const error = ref<string>();
    const issue = ref<IIssue>();
    const issueUpdateNr = ref(0);

    const projectId = computed(() => route.params.projectId as string | undefined);
    const issueId = computed(() => route.params.issueId as string | undefined);

    const loadIssue = async () => {
      if (projectId.value && issueId.value) {
        error.value = undefined;

        const result = await issuesService.get(projectId.value, issueId.value);

        if (result.hasError) {
          error.value = result.errorCode;
        } else if (!result.value) {
          error.value = 'Issue does not exist.';
        } else {
          issue.value = result.value;
        }
      }
    };

    watch(
        [projectId, issueId],
        async () => {
          await loadIssue();
        },
        {
          immediate: true
        }
    );

    const updateIssue = async (updates: Partial<IIssueUpdates>) => {
      return await issuesService.update(projectId.value!, issueId.value!, updates).finally(async () => {
        await loadIssue();
        issueUpdateNr.value++;
      });
    };

    return {
      error,
      issue,
      issueUpdateNr,

      updateIssue
    };
  }
});
</script>
