<template>
  <div class="mb-3">
    <router-link :to="{name: 'project-issues', params: {projectId: projectId}}"
                 class="btn btn-outline-secondary"
                 type="button">
      <i class="fas fa-long-arrow-alt-left"></i>
      Back to project issues
    </router-link>
  </div>

  <div class="alert alert-danger mb-3" v-if="updateError">
    {{ updateError }}
  </div>

  <div class="card mb-3">
    <div class="card-header d-flex align-items-center">
      <span class="badge badge-secondary mr-1">{{ issue.status }}</span>

      <template v-if="editing">
        <input class="form-control" type="text" v-model="editedTitle" required :disabled="updating">
      </template>

      <template v-else>
        {{ issue.title }}
      </template>

      <button class="btn btn-accent btn-sm ml-auto"
              type="button"
              @click="edit()"
              v-if="!editing && (projectAccess.canModify || currentUserIsAuthor || currentUserIsAssignedToIssue) && issue.status !== IssueStatus.Closed">
        <i class="fas fa-edit"></i>
        Edit
      </button>
    </div>
    <div class="d-flex">
      <div class="card-body">
        <div class="card-text" v-if="!editing">
          <markdown-view :value="issue.body"/>
        </div>
        <form
            @submit.prevent="updateIssue({title: editedTitle, body: editedBody, labels: editedLabels.map(l => l.name), assignedUsers: editedAssignedUsers.map(u => u.id)})"
            v-else>
          <div class="form-group">
            <markdown-editor v-model="editedBody"
                             required
                             :disabled="updating"/>
          </div>

          <div class="d-flex">
            <button class="btn btn-primary"
                    type="submit"
                    :disabled="updating">
              Save
            </button>
            <button class="btn btn-outline-secondary ml-auto"
                    type="button"
                    @click="editing = false"
                    :disabled="updating">
              Cancel
            </button>
          </div>
        </form>
      </div>

      <div class="card-body border-left flex-grow-0">
        <div class="mb-1">
          <span class="text-muted">Created at:</span>
          <br>
          <relative-date-time :date="issue.dateCreated"/>
        </div>

        <div class="mb-1" v-if="issue.dateCreated.getTime() !== issue.dateModified.getTime()">
          <span class="text-muted">Last edit at:</span>
          <br>
          <relative-date-time :date="issue.dateModified"/>
        </div>

        <div class="mb-1">
          <span class="text-muted">Author:</span>
          <br>
          <router-link :to="{name: 'profile', params: {userId: issue.author.id}}">
            {{ issue.author.username }}
          </router-link>
        </div>

        <div class="mb-1" v-if="issue.assignedUsers.length > 0 || editing">
          <span class="text-muted">Assigned users:</span>
          <br>
          <template v-if="!editing">
            <div v-for="assignedUser of issue.assignedUsers" :key="assignedUser.id">
              <router-link :to="{name: 'profile', params: {userId: assignedUser.id}}">
                {{ assignedUser.username }}
              </router-link>
            </div>
          </template>
          <template v-else>
            <div class="text-danger" v-if="projectMembersLoadingError">
              {{ projectMembersLoadingError }}
            </div>
            <div v-else>
              <searchable-dropdown :items="filteredProjectMembers"
                                   v-model="assignedUser"
                                   filter="username"
                                   display-value="username"
                                   value-placeholder="Assign user..."
                                   :disabled="updating"
                                   sm
                                   v-if="!loadingProjectMembers"/>
              <span class="spinner-border text-accent" v-if="loadingProjectMembers"></span>
            </div>
            <div v-for="assignedUser of editedAssignedUsers" :key="assignedUser.id">
              {{ assignedUser.username }}

              <button class="btn badge badge-pill btn-accent" type="button" @click="unassignUser(assignedUser)">&times;</button>
            </div>
          </template>
        </div>

        <div v-if="issue.labels.length > 0 || editing">
          <span class="text-muted">Labels:</span>
          <br>
          <template v-if="!editing">
              <span class="badge badge-pill badge-accent mr-1 mb-1" v-for="label of issue.labels" :key="label.name">
                {{ label.name }}
              </span>
          </template>
          <template v-else>
            <div class="text-danger" v-if="projectLabelsLoadingError">
              {{ projectLabelsLoadingError }}
            </div>
            <div v-else>
              <searchable-dropdown :items="filteredProjectLabels"
                                   v-model="addedLabel"
                                   filter="name"
                                   display-value="name"
                                   value-placeholder="Add label..."
                                   :disabled="updating"
                                   sm
                                   v-if="!loadingProjectLabels"/>
              <span class="spinner-border text-accent" v-if="loadingProjectLabels"></span>
            </div>
            <span class="badge badge-pill badge-accent mr-1 mb-1" v-for="label of editedLabels" :key="label.name">
              {{ label.name }}

              <button class="btn badge badge-pill btn-accent" type="button" @click="removeLabel(label)">&times;</button>
            </span>
          </template>
        </div>
      </div>
    </div>
    <div class="card-footer d-flex" v-if="currentUserIsAuthor || currentUserIsAssignedToIssue || projectAccess.canModify">
      <button class="btn btn-outline-secondary btn-sm"
              type="button"
              @click="updateIssue({status: IssueStatus.Closed})"
              :disabled="updating"
              v-if="issue.status === IssueStatus.Open">
        Close issue
      </button>

      <button class="btn btn-outline-secondary btn-sm"
              type="button"
              @click="updateIssue({status: IssueStatus.Open})"
              :disabled="updating"
              v-if="issue.status === IssueStatus.Closed">
        Reopen issue
      </button>

      <template v-if="currentUserIsAuthor || currentUserIsAssignedToIssue || projectAccess.canModify">
        <button class="btn btn-outline-danger btn-sm ml-auto"
                type="button"
                data-toggle="modal"
                :data-target="'#' + id('deleteIssueModal')">
          Delete issue
        </button>

        <div :id="id('deleteIssueModal')" ref="deleteIssueModalRef" class="modal" tabindex="-1">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title">Delete issue</h5>
                <button type="button" class="close" data-dismiss="modal">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                <div class="alert alert-danger mb-3" v-if="deleteIssueError">
                  {{ deleteIssueError }}
                </div>

                <p class="mb-0">Are you sure you want to delete this issue?</p>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal" :disabled="deletingIssue">Cancel</button>
                <button type="button" class="btn btn-danger" @click="deleteIssue()" :disabled="deletingIssue">Delete issue</button>
              </div>
            </div>
          </div>
        </div>
      </template>
    </div>
  </div>

  <issue-comments-and-events :project-id="projectId" :issue="issue" :issue-update-nr="issueUpdateNr"/>
</template>

<script lang="ts">
import { computed, defineComponent, onBeforeUnmount, PropType, ref, toRefs, watch } from 'vue';
import { IIssue, IssueStatus } from '@/model/IIssue';
import { useRoute, useRouter } from 'vue-router';
import { IIssueUpdates, issuesService } from '@/services/IssuesService';
import { Result } from '@/model/Result';
import { useUniqueId } from '@/utils/uniqueId';
import { authService } from '@/services/AuthService';
import { localizeErrorCode } from '@/utils/localization';
import { ILabel } from '@/model/ILabel';
import SearchableDropdown from '@/components/SearchableDropdown.vue';
import { labelsService } from '@/services/LabelsService';
import { useProjectAccess } from '@/utils/projectAccess';
import { IProjectMember } from '@/model/IProjectMember';
import { membersService } from '@/services/MembersService';
import { IUserInfo } from '@/model/IUserInfo';
import MarkdownEditor from '@/components/MarkdownEditor.vue';
import MarkdownView from '@/components/MarkdownView.vue';
import IssueCommentsAndEvents from '@/views/issue/IssueCommentsAndEvents.vue';
import RelativeDateTime from '@/components/RelativeDateTime.vue';
import $ from 'jquery';

export default defineComponent({
  components: {RelativeDateTime, IssueCommentsAndEvents, MarkdownView, MarkdownEditor, SearchableDropdown},
  props: {
    issue: {
      type: Object as PropType<IIssue>,
      required: true
    },
    update: {
      type: Function as PropType<(updates: Partial<IIssueUpdates>) => Promise<Result>>,
      required: true
    },
    issueUpdateNr: {
      type: Number,
      required: true
    }
  },
  setup(props: { issue: IIssue, update: (updates: Partial<IIssueUpdates>) => Promise<Result> }) {
    const id = useUniqueId('view-issue');
    const route = useRoute();
    const router = useRouter();

    const {issue, update} = toRefs(props);

    const projectId = computed(() => route.params.projectId as string);
    const projectAccess = useProjectAccess(projectId);

    const currentUserIsAuthor = computed(() => authService.claims.value?.userId === issue.value.author.id);
    const currentUserIsAssignedToIssue = computed(() => authService.isLoggedIn && issue.value.assignedUsers.some(u => u.id === authService.claims.value?.userId));

    const projectMembers = ref<IProjectMember[]>([]);
    const loadingProjectMembers = ref(false);
    const projectMembersLoadingError = ref<string>();
    const loadProjectMembers = () => {
      loadingProjectMembers.value = true;
      projectMembersLoadingError.value = undefined;

      membersService.getAll(projectId.value).then(result => {
        if (result.hasError) {
          projectMembersLoadingError.value = localizeErrorCode(result.errorCode!);
        } else {
          projectMembers.value = result.value;
        }
      }).finally(() => {
        loadingProjectMembers.value = false;
      });
    };

    const projectLabels = ref<ILabel[]>([]);
    const loadingProjectLabels = ref(false);
    const projectLabelsLoadingError = ref<string>();
    const loadProjectLabels = () => {
      loadingProjectLabels.value = true;
      projectLabelsLoadingError.value = undefined;

      labelsService.getAll(projectId.value).then(result => {
        if (result.hasError) {
          projectLabelsLoadingError.value = localizeErrorCode(result.errorCode!);
        } else {
          projectLabels.value = result.value;
        }
      }).finally(() => {
        loadingProjectLabels.value = false;
      });
    };

    const editing = ref(false);
    const editedTitle = ref(issue.value.title);
    const editedBody = ref(issue.value.body);
    const editedAssignedUsers = ref(issue.value.assignedUsers);
    const assignedUser = ref<IUserInfo | null>(null);
    const editedLabels = ref(issue.value.labels);
    const addedLabel = ref<ILabel | null>(null);

    const filteredProjectLabels = computed(
        () => projectLabels.value
            .filter(projectLabel => editedLabels.value.every(editedLabel => projectLabel.name !== editedLabel.name))
    );

    const filteredProjectMembers = computed(
        () => projectMembers.value
            .map(member => member.user)
            .filter(user => editedAssignedUsers.value.every(editedAssignedUser => editedAssignedUser.id !== user.id))
    );

    const edit = () => {
      editing.value = true;
      editedTitle.value = issue.value.title;
      editedBody.value = issue.value.body;
      editedAssignedUsers.value = issue.value.assignedUsers;
      editedLabels.value = issue.value.labels;

      loadProjectMembers();
      loadProjectLabels();
    };

    const unassignUser = (assignedUser: IUserInfo) => {
      editedAssignedUsers.value = editedAssignedUsers.value.filter(a => a.id !== assignedUser.id);
    };

    const removeLabel = (label: ILabel) => {
      editedLabels.value = editedLabels.value.filter(l => l.name !== label.name);
    };

    watch(assignedUser, (assignedUserValue, oldAssignedUserValue) => {
      if (assignedUserValue?.id !== oldAssignedUserValue?.id) {
        if (assignedUserValue) {
          editedAssignedUsers.value = [...editedAssignedUsers.value, assignedUserValue];
          assignedUser.value = null;
        }
      }
    });

    watch(addedLabel, (addedLabelValue, oldAddedLabelValue) => {
      if (addedLabelValue?.name !== oldAddedLabelValue?.name) {
        if (addedLabelValue) {
          editedLabels.value = [...editedLabels.value, addedLabelValue];
          addedLabel.value = null;
        }
      }
    });

    const updateError = ref<string>();
    const updating = ref(false);

    const updateIssue = async (updates: Partial<IIssueUpdates>) => {
      updateError.value = undefined;
      updating.value = true;

      const result = await update.value(updates).finally(() => {
        updating.value = false;
        editing.value = false;
      });

      if (result.hasError) {
        updateError.value = result.errorCode;
      }
    };

    const deleteIssueModalRef = ref<HTMLElement>();
    const deleteIssueError = ref<string>();
    const deletingIssue = ref(false);
    const deleteIssue = () => {
      deleteIssueError.value = undefined;
      deletingIssue.value = true;

      issuesService.delete(projectId.value, issue.value.id).then(async result => {
        if (result.hasError) {
          deleteIssueError.value = localizeErrorCode(result.errorCode!);
        } else {
          await router.push({name: 'project-issues', params: {projectId: projectId.value}});
        }
      }).finally(() => {
        deletingIssue.value = false;
      });
    };

    onBeforeUnmount(() => {
      $(deleteIssueModalRef.value!).modal('hide');
    });

    return {
      IssueStatus,

      id,

      projectId,
      projectAccess,

      isLoggedIn: authService.isLoggedIn,

      currentUserIsAuthor,
      currentUserIsAssignedToIssue,

      loadingProjectMembers,
      projectMembersLoadingError,

      loadingProjectLabels,
      projectLabelsLoadingError,

      editing,
      editedTitle,
      editedBody,
      editedAssignedUsers,
      assignedUser,
      filteredProjectMembers,
      editedLabels,
      addedLabel,
      filteredProjectLabels,
      edit,
      unassignUser,
      removeLabel,

      updateError,
      updating,
      updateIssue,

      deleteIssueModalRef,
      deleteIssueError,
      deletingIssue,
      deleteIssue
    };
  }
});
</script>
