$app-primary: #318BCF !default;
$app-accent: #CF316B !default;

$app-text-on-primary: white !default;

$app-background: #f8f8f8;
$app-text-color: black;

$primary: $app-primary;

$theme-colors: (
  "accent": $app-accent
);

@import "../bootstrap";

html, body, #app {
  min-height: 100vh;
  background: $app-background;
  color: $app-text-color;
}

.app-navbar {
  background-color: $app-primary;
  color: $app-text-on-primary;

  .nav-link, .navbar-toggler, .navbar-brand, .navbar-text {
    color: $app-text-on-primary;
  }

  .navbar-toggler-icon {
    background-image: escape-svg($navbar-dark-toggler-icon-bg);
  }
}

.card {
  box-shadow: $box-shadow;
  border-width: 0;
}

.card-sm {
  > .card-header {
    padding: ($card-spacer-y / 2) ($card-spacer-x / 2);
  }

  > .card-body {
    padding: ($card-spacer-x / 2);
  }

  > .card-footer {
    padding: ($card-spacer-y / 2) ($card-spacer-x / 2);
  }
}

.card-default {
  > .card-header {
    color: ($card-cap-color or inherit);
    background-color: $card-cap-bg;

    a {
      color: $link-color;

      &:hover, &:focus {
        color: $link-hover-color;
      }
    }

    .text-muted {
      color: $text-muted;
    }
  }
}

.card-header {
  background-color: $app-primary;
  color: $app-text-on-primary;

  a {
    color: $app-text-on-primary;

    &:hover, &:focus {
      color: transparentize($app-text-on-primary, 0.2);
    }
  }

  .text-muted {
    color: $gray-400;
  }

  .card-header-tabs {
    .nav-item {
      .nav-link {
        border-bottom-width: 0;
        color: $app-text-on-primary;

        &.active {
          color: $app-text-color;
        }
      }
    }
  }
}

.modal-header {
  background-color: $app-primary;
  color: $app-text-on-primary;

  .close {
    color: $app-text-on-primary;
  }
}

@import "settings";
