<template>
  <div class="card">
    <div class="d-flex">
      <div class="list-group list-group-flush border-right">
        <router-link class="list-group-item list-group-item-action" :to="{name: 'administration-users'}" active-class="active">
          Users
        </router-link>
      </div>
      <div class="tab-content p-3" style="min-width: 0; width: 100%;">
        <div class="tab-pane show active">
          <router-view/>
        </div>
      </div>
    </div>
  </div>
</template>
