<template>
  <h2 class="settings-title">Users</h2>

  <div class="alert alert-danger mb-3" v-if="usersError">
    {{ usersError }}
  </div>

  <div class="mb-3">
    <button class="btn btn-primary"
            type="button"
            data-toggle="modal"
            :data-target="'#' + id('create-user-modal')">
      Create user
    </button>

    <div ref="createUserModalRef" class="modal fade" :id="id('create-user-modal')" tabindex="-1">
      <div class="modal-dialog">
        <div class="modal-content">
          <form @submit.prevent="onCreateUser()">
            <div class="modal-header">
              <h5 class="modal-title">Create a user</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>

            <div class="modal-body">
              <div v-if="createUserError" class="alert alert-danger mb-3">
                {{ createUserError }}
              </div>

              <div class="form-group">
                <label :for="id('create-email')">Email:</label>
                <input :id="id('create-email')" type="email" class="form-control" v-model="createEmail" required :disabled="creatingUser">
              </div>

              <div class="form-group">
                <label :for="id('create-username')">Username:</label>
                <input :id="id('create-username')" class="form-control" v-model="createUsername" required :disabled="creatingUser">
              </div>

              <div class="form-group">
                <label :for="id('create-password')">Password:</label>
                <input :id="id('create-password')" type="password" class="form-control" v-model="createPassword" required :disabled="creatingUser">
              </div>

              <div class="form-group">
                <label>Role:</label>
                <div class="custom-control custom-radio">
                  <input type="radio"
                         :id="id('create-role-user')"
                         name="create-role"
                         class="custom-control-input"
                         v-model="createRole"
                         :value="Role.User"
                         :disabled="creatingUser">
                  <label class="custom-control-label" :for="id('create-role-user')">User</label>
                </div>
                <div class="custom-control custom-radio">
                  <input type="radio"
                         :id="id('create-role-admin')"
                         name="create-role"
                         class="custom-control-input"
                         v-model="createRole"
                         :value="Role.Admin"
                         :disabled="creatingUser">
                  <label class="custom-control-label" :for="id('create-role-admin')">Admin</label>
                </div>
              </div>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal" :disabled="creatingUser">Cancel</button>
              <div class="d-flex align-items-center ml-auto">
                <span class="spinner-border text-accent mr-2" v-if="creatingUser"></span>
                <button class="btn btn-primary" :disabled="creatingUser">Create</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>

  <div class="d-flex align-items-center" v-if="usersLoading">
    <span class="spinner-border text-accent mr-2"></span> Loading users...
  </div>
  <div class="table-responsive" v-else-if="users.length > 0">
    <table class="table">
      <thead>
      <tr>
        <th>Id</th>
        <th>Email</th>
        <th>Username</th>
        <th>Role</th>
        <th>Actions</th>
      </tr>
      </thead>
      <tbody>
      <tr v-for="user of users" :key="user.id">
        <td>
          {{ user.id }}
        </td>
        <td>
          <a :href="'mailto:' + user.email">
            {{ user.email }}
          </a>
        </td>
        <td>
          {{ user.username }}
        </td>
        <td>
          <span class="badge" :class="{'badge-accent': user.role === Role.Admin, 'badge-secondary': user.role !== Role.Admin}">
            {{ user.role }}
          </span>
        </td>
        <td>
          <div class="btn-group btn-group-sm">
            <router-link class="btn btn-primary" :to="{name: 'profile', params: {userId: user.id}}">
              <i class="fas fa-user"></i>
              Profile
            </router-link>
            <button class="btn btn-danger" type="button" data-toggle="modal" :data-target="'#' + id('delete-user-modal')" @click="userToDelete = user">
              <i class="fas fa-trash"></i>
              Delete
            </button>
          </div>
        </td>
      </tr>
      </tbody>
    </table>

    <div :id="id('delete-user-modal')" class="modal fade" tabindex="-1" ref="deleteUserModalRef">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">Delete user</h5>
            <button type="button" class="close" data-dismiss="modal">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <div class="alert alert-danger" v-if="deleteUserError">
              {{ deleteUserError }}
            </div>

            <div>
              User <span class="text-accent">{{ userToDelete?.username }}</span> will be deleted forever!
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-primary" data-dismiss="modal" :disabled="deletingUser">Cancel</button>
            <div class="d-flex align-items-center ml-auto">
              <div class="spinner-border mr-2 text-accent" v-if="deletingUser"></div>
              <button type="button" class="btn btn-outline-danger ml-auto" @click="onDeleteUser" :disabled="deletingUser">
                Delete
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div v-else>
    There are no users 🤔
  </div>
</template>

<script lang="ts">
import { defineComponent, ref, watch } from 'vue';
import { IUser } from '@/model/IUser';
import { usersService } from '@/services/UsersService';
import { localizeErrorCode } from '@/utils/localization';
import { Role } from '@/model/Role';
import { useUniqueId } from '@/utils/uniqueId';
import $ from 'jquery';

export default defineComponent({
  setup() {
    const id = useUniqueId('administration-users-tab');

    const usersError = ref<string>();

    const createUserModalRef = ref<HTMLElement>();
    const createEmail = ref('');
    const createUsername = ref('');
    const createPassword = ref('');
    const createRole = ref(Role.User);
    const createUserError = ref<string>();
    const creatingUser = ref(false);
    const clearCreateUserForm = () => {
      createEmail.value = '';
      createUsername.value = '';
      createRole.value = Role.User;
      createUserError.value = undefined;
    };
    const onCreateUser = () => {
      createUserError.value = undefined;
      creatingUser.value = true;

      usersService.create({
        email: createEmail.value,
        username: createUsername.value,
        password: createPassword.value,
        role: createRole.value
      }).then(result => {
        if (result.hasError) {
          createUserError.value = localizeErrorCode(result.errorCode!);
        } else {
          creatingUser.value = false;
          clearCreateUserForm();
          $(createUserModalRef.value!).modal('hide');
          loadUsers();
        }
      }).finally(() => {
        creatingUser.value = false;
      });
    };

    watch(
        createUserModalRef,
        createUserModal => {
          if (createUserModal) {
            $(createUserModal).on('hide.bs.modal', (e) => {
              if (creatingUser.value) {
                e.preventDefault();
                return false;
              }
            });
          }
        }
    );

    const users = ref<IUser[]>([]);
    const usersLoading = ref(false);
    const loadUsers = () => {
      usersError.value = undefined;
      usersLoading.value = true;

      usersService.getAll().then(result => {
        if (result.hasError) {
          usersError.value = localizeErrorCode(result.errorCode!);
        } else {
          users.value = result.value;
        }
      }).finally(() => {
        usersLoading.value = false;
      });
    };

    const deleteUserModalRef = ref<HTMLElement>();
    const userToDelete = ref<IUser>();
    const deleteUserError = ref<string>();
    const deletingUser = ref(false);
    const onDeleteUser = () => {
      if (!userToDelete.value) return;

      deleteUserError.value = undefined;
      deletingUser.value = true;

      usersService.delete(userToDelete.value!.id).then(result => {
        if (result.hasError) {
          deleteUserError.value = localizeErrorCode(result.errorCode!);
        } else {
          $(deleteUserModalRef.value!).modal('hide');
          userToDelete.value = undefined;
          loadUsers();
        }
      }).finally(() => {
        deletingUser.value = false;
      });
    };

    watch(
        deleteUserModalRef,
        deleteUserModal => {
          if (deleteUserModal) {
            $(deleteUserModal).on('show.bs.modal', () => {
              deleteUserError.value = undefined;
            });
          }
        }
    );

    loadUsers();

    return {
      id,
      Role,

      usersError,

      createUserModalRef,
      createEmail,
      createUsername,
      createPassword,
      createRole,
      createUserError,
      creatingUser,
      clearCreateUserForm,
      onCreateUser,

      users,
      usersLoading,

      deleteUserModalRef,
      userToDelete,
      deleteUserError,
      deletingUser,
      onDeleteUser
    };
  }
});
</script>
