<template>
  <div class="dropdown d-inline-block">
    <button class="btn btn-outline-secondary dropdown-toggle" :class="{'btn-sm': sm}" type="button" data-toggle="dropdown" :disabled="disabled">
      {{ values.length <= 0 ? valuePlaceholder : values.map(getDisplayValue).join(', ') }}
    </button>
    <div class="dropdown-menu" @click.stop="">
      <div class="dropdown-item-text px-2">
        <input type="text"
               class="form-control"
               v-model="filterValue"
               :placeholder="filterPlaceholder">
      </div>

      <div class="dropdown-item-text px-2" v-if="values.length > 0">
        <div class="custom-control custom-checkbox" v-for="(item, i) of values" :key="item">
          <input type="checkbox" class="custom-control-input" :id="id('item-' + i)" :checked="isSelected(item)" @change="onChange(item, $event.target.checked)">
          <label class="custom-control-label justify-content-start" :for="id('item-' + i)">
            {{ getDisplayValue(item) }}
          </label>
        </div>
      </div>

      <div class="dropdown-divider" v-if="values.length > 0 && filteredItems.length > 0"></div>

      <div class="dropdown-item-text px-2" v-if="filteredItems.length > 0">
        <div class="custom-control custom-checkbox" v-for="(item, i) of filteredItems" :key="item">
          <input type="checkbox" class="custom-control-input" :id="id('item-' + i + values.length)" :checked="isSelected(item)" @change="onChange(item, $event.target.checked)">
          <label class="custom-control-label justify-content-start" :for="id('item-' + i + values.length)">
            {{ getDisplayValue(item) }}
          </label>
        </div>
      </div>
    </div>
  </div>
</template>

<script lang="ts">
import { computed, defineComponent, PropType, ref, toRaw, toRefs, watch } from 'vue';
import { useUniqueId } from '@/utils/uniqueId';
import get from 'lodash/get';

export default defineComponent({
  props: {
    items: {
      type: Array as PropType<any[]>,
      required: true
    },
    filter: {
      type: [Function, String] as PropType<((item: any, filter: string) => boolean) | string>,
      default: () => (item: any, filter: string) => (item ?? '').toString().toLowerCase().includes(filter.toLowerCase())
    },
    displayValue: {
      type: [Function, String] as PropType<((item: any) => any) | string>,
      default: () => (item: any) => item
    },
    valuePlaceholder: {
      type: String,
      default: 'Select value...'
    },
    filterPlaceholder: {
      type: String,
      default: 'Filter...'
    },
    modelValue: {
      type: Array as PropType<any[]>,
      default: () => []
    },
    disabled: {
      type: Boolean,
      default: false
    },
    sm: {
      type: Boolean,
      default: false
    }
  },
  emits: [
    'update:modelValue'
  ],
  setup(props: { items: any[], filter: ((item: any, filter: string) => boolean) | string, displayValue: ((item: any) => any) | string, modelValue: any[] }, {emit}) {
    const id = useUniqueId('checkbox-select');

    const {items, filter, displayValue, modelValue} = toRefs(props);

    const values = ref(modelValue.value);
    const filterValue = ref('');

    const getDisplayValue = (item: any) => typeof displayValue.value === 'string' ? get(item, displayValue.value) : displayValue.value(item);
    const isSelected = (item: any) => values.value.some(v => toRaw(v) === toRaw(item));

    const filteredItems = computed(() => items.value.filter(
        item => !isSelected(item) && (
            typeof filter.value === 'string'
                ? (get(item, filter.value) ?? '').toString().toLowerCase().includes(filterValue.value.toLowerCase())
                : filter.value(item, filterValue.value)
        )
    ));

    const selectItem = (item: any) => {
      if (!isSelected(item)) {
        const newItems = items.value.filter(i => toRaw(i) === toRaw(item) || isSelected(i));

        emit('update:modelValue', newItems);
      }
    };

    const deselectItem = (item: any) => {
      if (isSelected(item)) {
        const newItems = items.value.filter(i => toRaw(i) !== toRaw(item) && isSelected(i));

        emit('update:modelValue', newItems);
      }
    };

    const onChange = (item: any, selected: boolean) => {
      if (selected) {
        selectItem(item);
      } else {
        deselectItem(item);
      }
    };

    watch(modelValue, (newModelValue) => {
      values.value = newModelValue;
    }, {deep: true});

    return {
      id,

      values,

      filterValue,
      filteredItems,

      getDisplayValue,
      isSelected,

      onChange
    };
  }
});
</script>
