<template>
  <div v-html="html"/>
</template>

<script lang="ts">
import { computed, defineComponent, toRefs } from 'vue';
import marked, { MarkedOptions, Renderer } from 'marked';
import hljs from 'highlight.js';
import { useUniqueId } from '@/utils/uniqueId';

class CustomRenderer extends Renderer {
  private nextId: number = 0;

  constructor(options: MarkedOptions, private idPrefix: string) {
    super(options);
  }

  checkbox(checked: boolean): string {
    const id = this.getNextId();

    return `<div class="custom-control custom-checkbox d-inline-block">
                <input id="${id}" type="checkbox" class="custom-control-input" ${checked ? 'checked' : ''} disabled>
                <label class="custom-control-label" for="${id}"></label>
            </div>`;
  }

  private getNextId(): string {
    return `${this.idPrefix}_${this.nextId++}`;
  }
}

export default defineComponent({
  components: {},
  props: {
    value: {
      type: String,
      required: true
    }
  },
  setup(props: { value: string }) {
    const id = useUniqueId('markdown-view');

    const {value} = toRefs(props);

    const options: MarkedOptions = {
      breaks: true,
      silent: true,
      highlight(code, lang) {
        const highlightResult = hljs.highlight(code, {language: lang || 'plaintext', ignoreIllegals: true});
        return highlightResult.value;
      }
    };

    options.renderer = new CustomRenderer(options, id('renderer'));

    const html = computed(() => marked(value.value, options));

    return {
      html
    };
  }
});
</script>

<style lang="scss" scoped>
//noinspection CssInvalidPseudoSelector
:deep(p:last-child) {
  margin-bottom: 0;
}

//noinspection CssInvalidPseudoSelector
:deep(blockquote) {
  color: rgba(0, 0, 0, 0.5);
  padding-left: 1rem;
  border-left: 0.5rem solid rgba(0, 0, 0, 0.3);
}

//noinspection CssInvalidPseudoSelector
:deep(code) {
  border-radius: 0.5rem;
  border: 1px solid rgba(0, 0, 0, 0.5);
  padding: 0.1rem;
  color: inherit;
}

//noinspection CssInvalidPseudoSelector
:deep(pre) {
  border-radius: 0.2rem;
  border: 1px solid rgba(0, 0, 0, 0.5);
  padding: 0.4rem;

  > code {
    border: 0;
  }
}
</style>
