<template>
  <div>
    <div class="btn-group btn-group-sm mb-2" v-if="!disabled">
      <button class="btn" :class="showPreview ? 'btn-outline-primary' : 'btn-primary'" type="button" @click="showPreview = false">
        Editor
      </button>
      <button class="btn" :class="!showPreview ? 'btn-outline-primary' : 'btn-primary'" type="button" @click="showPreview = true">
        Preview
      </button>
    </div>

    <div>
      <textarea class="form-control editor"
                :value="value"
                :id="id"
                :name="name"
                :required="required"
                :disabled="disabled"
                :rows="value.split('\n').length"
                @input="onValueUpdate($event.currentTarget.value)"
                v-if="!showPreview"/>
      <markdown-view :value="previewValue" v-else/>
    </div>
  </div>
</template>

<script lang="ts">
import { computed, defineComponent, ref, watch } from 'vue';
import MarkdownView from '@/components/MarkdownView.vue';
import debounce from 'lodash/debounce';

const defaultPreviewValue = 'Nothing to preview';

export default defineComponent({
  components: {MarkdownView},
  props: {
    modelValue: {
      type: String
    },
    id: {
      type: String
    },
    name: {
      type: String
    },
    required: {
      type: Boolean
    },
    disabled: {
      type: Boolean,
      default: false
    }
  },
  emits: [
    'update:modelValue'
  ],
  setup(props: { modelValue?: string }, {emit}) {
    const value = ref<string>(props.modelValue ?? '');
    const showPreview = ref(false);
    const previewValue = ref('');

    const onValueUpdate = (newValue: string) => {
      if (typeof props.modelValue === 'undefined') {
        value.value = newValue;
      } else {
        emit('update:modelValue', newValue);
      }
    };

    watch(computed(() => props.modelValue), modelValue => value.value = modelValue ?? '');
    watch(value, debounce(value => previewValue.value = value || defaultPreviewValue, 200), {immediate: true});

    return {
      value,
      showPreview,
      previewValue,

      onValueUpdate
    };
  }
});
</script>

<style lang="scss" scoped>
.editor {
  font-family: "Courier New", SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
  padding: 0.2rem;
  max-height: 500px;
}
</style>
