<template>
  <span class="date" ref="tooltipRef">
    {{ DateFormats.RelativeDateTime.format(date, options) }}
  </span>
</template>

<script lang="ts">
import { defineComponent, PropType, ref, watch } from 'vue';
import { DateFormats, IRelativeDateFormatterOptions } from '@/utils/dates';
import $ from 'jquery';

export default defineComponent({
  props: {
    date: {
      type: Date,
      required: true
    },
    options: {
      type: Object as PropType<Partial<IRelativeDateFormatterOptions>>
    }
  },
  setup(props: { date: Date, options?: Partial<IRelativeDateFormatterOptions> }) {
    const tooltipRef = ref<HTMLElement>();
    const initTooltip = () => {
      $(tooltipRef.value!).tooltip({
        title: DateFormats.DateTimeWithTimezone.format(props.date)
      });
    };

    watch([props, tooltipRef], () => {
      if (tooltipRef.value) {
        initTooltip();
      }
    }, {
      flush: 'post'
    });

    watch(tooltipRef, (tooltipRef, _, dispose) => {
      if (tooltipRef) {
        dispose(() => {
          $(tooltipRef).tooltip('dispose');
        });
      }
    });

    return {
      DateFormats,

      tooltipRef
    };
  }
});
</script>

<style lang="scss">
.date {
  //noinspection CssInvalidPropertyValue
  text-decoration: underline dotted 1px;
}
</style>
