<template>
  <div class="dropdown">
    <button class="btn btn-outline-secondary dropdown-toggle" :class="{'btn-sm': sm}" type="button" data-toggle="dropdown" :disabled="disabled">
      {{ value == null ? valuePlaceholder : getDisplayValue(value) }}
    </button>
    <div class="dropdown-menu">
      <div class="dropdown-item-text px-2" @click.stop="">
        <input type="text"
               class="form-control"
               v-model="filterValue"
               :placeholder="filterPlaceholder">
      </div>
      <button class="dropdown-item" type="button" v-for="item of filteredItems" :key="item" @click="selectItem(item)">
        {{ getDisplayValue(item) }}
      </button>
    </div>
  </div>
</template>

<script lang="ts">
import { computed, defineComponent, PropType, ref, toRaw, toRefs, watch } from 'vue';

export default defineComponent({
  props: {
    items: {
      type: Array as PropType<any[]>,
      required: true
    },
    filter: {
      type: [Function, String] as PropType<((item: any, filter: string) => boolean) | string>,
      default: () => (item: any, filter: string) => (item ?? '').toString().toLowerCase().includes(filter.toLowerCase())
    },
    displayValue: {
      type: [Function, String] as PropType<((item: any) => any) | string>,
      default: () => (item: any) => item
    },
    valuePlaceholder: {
      type: String,
      default: 'Select value...'
    },
    filterPlaceholder: {
      type: String,
      default: 'Filter...'
    },
    modelValue: {
      default: null
    },
    disabled: {
      type: Boolean,
      default: false
    },
    sm: {
      type: Boolean,
      default: false
    }
  },
  emits: [
    'update:modelValue'
  ],
  setup(props: { items: any[], filter: ((item: any, filter: string) => boolean) | string, displayValue: ((item: any) => any) | string, modelValue?: any }, {emit}) {
    const {items, filter, displayValue, modelValue} = toRefs(props);

    const value = ref(modelValue.value);
    const filterValue = ref('');

    const filteredItems = computed(() => items.value.filter(
        item => typeof filter.value === 'string'
            ? (item[filter.value] ?? '').toString().toLowerCase().includes(filterValue.value.toLowerCase())
            : filter.value(item, filterValue.value)
    ));

    const getDisplayValue = (item: any) => typeof displayValue.value === 'string' ? item[displayValue.value] : displayValue.value(item);

    const selectItem = (item: any) => {
      if (toRaw(value.value) !== toRaw(item)) {
        emit('update:modelValue', item);
        filterValue.value = '';
      }
    };

    watch(modelValue, (newModelValue) => {
      value.value = newModelValue;
    }, {deep: true});

    return {
      value,

      filterValue,
      filteredItems,

      getDisplayValue,
      selectItem
    };
  }
});
</script>
