<template>
  <h2 class="settings-title">Delete project</h2>

  <div>
    <button class="btn btn-outline-danger" type="button" data-toggle="modal" :data-target="'#' + id('delete-modal')" :disabled="isUpdating">
      Delete project
    </button>

    <div :id="id('delete-modal')" class="modal fade" tabindex="-1" ref="deleteModalRef">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">Delete project</h5>
            <button type="button" class="close" data-dismiss="modal">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <div class="alert alert-danger" v-if="deleteError">
              {{ deleteError }}
            </div>

            <p class="text-danger">The project will be deleted forever!</p>

            <div class="form-group">
              <label :for="id('project-name')">Project name:</label>
              <input :id="id('project-name')" type="text" class="form-control" v-model="projectName" :readonly="isDeleting">
              <small>Project name: {{ project.name }}</small>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-primary" data-dismiss="modal">Cancel</button>
            <div class="d-flex align-items-center ml-auto">
              <div class="spinner-border mr-2 text-accent" v-if="isDeleting"></div>
              <button type="button" class="btn btn-outline-danger ml-auto" @click="onDelete" :disabled="projectName !== project.name || isUpdating">
                Delete project
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script lang="ts">
import { defineComponent, PropType, ref, toRefs, onBeforeUnmount } from 'vue';
import { useUniqueId } from '@/utils/uniqueId';
import { IProject } from '@/model/IProject';
import { projectsService } from '@/services/ProjectsService';
import { localizeErrorCode } from '@/utils/localization';
import { useRouter } from 'vue-router';
import $ from 'jquery';

export default defineComponent({
  props: {
    project: {
      type: Object as PropType<IProject>,
      required: true
    },
    isUpdating: {
      type: Boolean as PropType<boolean>,
      required: true
    },
    updateProject: {
      type: Function as PropType<<T>(func: () => Promise<T>) => Promise<T>>,
      required: true
    }
  },
  setup(props: { project: IProject, updateProject: <T>(func: () => Promise<T>) => Promise<T> }) {
    const id = useUniqueId('danger-zone-settings-tab');
    const router = useRouter();

    const {project, updateProject} = toRefs(props);

    const deleteModalRef = ref<HTMLElement>();
    const projectName = ref('');
    const isDeleting = ref(false);
    const deleteError = ref<string>();
    const onDelete = () => updateProject.value(async () => {
      deleteError.value = undefined;
      isDeleting.value = true;

      const result = await projectsService.delete(project.value.id);

      if (result.hasError) {
        deleteError.value = localizeErrorCode(result.errorCode!);
      } else {
        await router.push({name: 'projects'});
      }
    }).finally(() => {
      isDeleting.value = false;
    });

    onBeforeUnmount(() => {
      $(deleteModalRef.value!).modal('hide');
    });

    return {
      id,

      deleteModalRef,
      projectName,
      isDeleting,
      deleteError,
      onDelete
    };
  }
});
</script>
