<template>
  <h2 class="settings-title">Project info</h2>

  <form class="d-flex align-items-center pb-3" @submit.prevent="onRename">
    <label :for="id('project-name')" class="mr-2">Project name:</label>
    <div class="mr-2">
      <input :id="id('project-name')"
             type="text"
             class="form-control w-auto"
             :class="{'is-invalid': renamingError}"
             v-model="newName"
             :readonly="isUpdating"
             @input="onRenameChange">
      <div class="invalid-feedback" v-if="renamingError">
        {{ renamingError }}
      </div>
      <div class="position-relative">
        <small class="form-text text-muted position-absolute" style="top: 0; left: 0" v-if="project.name !== newName">
          Current name: {{ project.name }}
        </small>
      </div>
    </div>
    <button class="btn btn-primary" type="submit" :disabled="project.name === newName || isUpdating">
      Rename
    </button>
    <div class="spinner-border ml-2 text-accent" v-if="isRenaming"></div>
  </form>

  <h2 class="settings-title">Project visibility</h2>

  <form @submit.prevent="onChangeVisibility">
    <label>Visibility:</label>
    <div class="custom-control custom-radio">
      <input type="radio"
             :id="id('visibility-public')"
             name="visibility"
             class="custom-control-input"
             v-model="newVisibility"
             :value="ProjectVisibility.Public"
             :readonly="isChangingVisibility"
             @input="onVisibilityChange">
      <label class="custom-control-label" :for="id('visibility-public')">
        Public
        <span class="badge badge-pill badge-accent" v-if="project.visibility === ProjectVisibility.Public">current</span>
      </label>
    </div>
    <div class="custom-control custom-radio">
      <input type="radio"
             :id="id('visibility-private')"
             name="visibility"
             class="custom-control-input"
             v-model="newVisibility"
             :value="ProjectVisibility.Private"
             :readonly="isChangingVisibility"
             @input="onVisibilityChange">
      <label class="custom-control-label" :for="id('visibility-private')">
        Private
        <span class="badge badge-pill badge-accent" v-if="project.visibility === ProjectVisibility.Private">current</span>
      </label>
    </div>
    <div class="d-flex align-items-center mt-2">
      <div>
        <button class="btn btn-primary" type="submit" :class="{'is-invalid': visibilityError}" :disabled="project.visibility === newVisibility || isUpdating">
          Change visibility
        </button>
        <div class="invalid-feedback" v-if="visibilityError">
          {{ visibilityError }}
        </div>
      </div>
      <div class="spinner-border ml-2 text-accent" v-if="isChangingVisibility"></div>
    </div>
  </form>
</template>

<script lang="ts">
import { defineComponent, PropType, ref, toRefs } from 'vue';
import { useUniqueId } from '@/utils/uniqueId';
import { IProject, ProjectVisibility } from '@/model/IProject';
import { projectsService } from '@/services/ProjectsService';
import { localizeErrorCode } from '@/utils/localization';

export default defineComponent({
  props: {
    project: {
      type: Object as PropType<IProject>,
      required: true
    },
    isUpdating: {
      type: Boolean as PropType<boolean>,
      required: true
    },
    updateProject: {
      type: Function as PropType<<T>(func: () => Promise<T>) => Promise<T>>,
      required: true
    }
  },
  setup(props: { project: IProject, updateProject: <T>(func: () => Promise<T>) => Promise<T> }) {
    const id = useUniqueId('general-settings-tab');

    const {project, updateProject} = toRefs(props);

    const newName = ref(project.value.name);
    const isRenaming = ref(false);
    const renamingError = ref<string>();
    const onRename = () => updateProject.value(async () => {
      renamingError.value = undefined;
      isRenaming.value = true;

      const result = await projectsService.update(project.value.id, {name: newName.value});

      if (result.hasError) {
        renamingError.value = localizeErrorCode(result.errorCode!);
      } else {
        project.value.name = newName.value;
      }
    }).finally(() => {
      isRenaming.value = false;
    });
    const onRenameChange = () => {
      renamingError.value = undefined;
    };

    const newVisibility = ref(project.value.visibility);
    const isChangingVisibility = ref(false);
    const visibilityError = ref<string>();
    const onChangeVisibility = () => updateProject.value(async () => {
      visibilityError.value = undefined;
      isChangingVisibility.value = true;

      const result = await projectsService.update(project.value.id, {visibility: newVisibility.value});

      if (result.hasError) {
        visibilityError.value = localizeErrorCode(result.errorCode!);
      } else {
        project.value.visibility = newVisibility.value;
      }
    }).finally(() => {
      isChangingVisibility.value = false;
    });
    const onVisibilityChange = () => {
      visibilityError.value = undefined;
    };

    return {
      id,

      newName,
      isRenaming,
      renamingError,
      onRename,
      onRenameChange,

      ProjectVisibility,
      newVisibility,
      isChangingVisibility,
      visibilityError,
      onChangeVisibility,
      onVisibilityChange
    };
  }
});
</script>
