<template>
  <div class="card-body" v-if="issuesError">
    {{ issuesError }}
  </div>
  <div class="card-body" v-else-if="!issues">
    <p>
      Loading issues...
    </p>

    <div class="progress">
      <div class="progress-bar progress-bar-striped progress-bar-animated w-100"></div>
    </div>
  </div>
  <template v-else>
    <div class="card-body border-bottom" v-if="projectAccess.isMember || projectAccess.canModify">
      <button class="btn btn-primary"
              type="button"
              data-toggle="modal"
              :data-target="'#' + id('create-modal')">
        Create issue
      </button>

      <div ref="createModalRef" class="modal fade" :id="id('create-modal')" tabindex="-1">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title">Create issue</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>

            <div class="modal-body">
              <div v-if="createError" class="alert alert-danger mb-3">
                {{ createError }}
              </div>

              <form @submit.prevent="onCreate()">
                <div class="form-group">
                  <label :for="id('create-title')">Title:</label>
                  <input :id="id('create-title')" class="form-control" v-model="createTitle" :disabled="creating">
                </div>

                <div class="form-group">
                  <label :for="id('create-body')">Body:</label>
                  <markdown-editor :id="id('create-body')" v-model="createBody" :disabled="creating"/>
                </div>

                <div class="form-group">
                  <label>Labels:</label>
                  <searchable-dropdown :items="filteredProjectLabels"
                                       v-model="addedLabel"
                                       filter="name"
                                       display-value="name"
                                       value-placeholder="Add label..."
                                       :disabled="creating"/>
                  <div>
                    <span class="badge badge-pill badge-accent mr-1 mb-1" v-for="label of createLabels" :key="label.name">
                      {{ label.name }}

                      <button class="btn badge badge-pill btn-accent" type="button" @click="removeLabel(label)">&times;</button>
                    </span>
                  </div>
                </div>
              </form>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal" :disabled="creating">Cancel</button>
              <button type="button" class="btn btn-primary" @click="onCreate()" :disabled="creating">Create</button>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="card-body border-bottom">
      <div>
        <input class="form-control" type="text" v-model="titleFilter" placeholder="Search by title...">
      </div>

      <div class="d-flex form-inline mt-2">
        <div class="form-group my-1 mr-3">
          <label :for="id('status-filter')" class="mr-1">Status:</label>
          <select :id="id('status-filter')" v-model="statusFilter" class="custom-select">
            <option :value="undefined">Any</option>
            <option :value="IssueStatus.Open">Open</option>
            <option :value="IssueStatus.Closed">Closed</option>
          </select>
        </div>

        <div class="form-group my-1 mr-3">
          <label class="mr-1">Authors:</label>
          <checkbox-select :items="projectMembers" v-model="authorsFilter" filter="user.username" display-value="user.username"/>
        </div>

        <div class="form-group my-1 mr-3">
          <label class="mr-1">Labels:</label>
          <checkbox-select :items="projectLabels" v-model="labelsFilter" filter="name" display-value="name"/>
        </div>
      </div>
    </div>

    <template v-if="issues.length > 0">
      <div class="list-group list-group-flush">
        <router-link :to="{name: 'issue', params: {projectId: project.id, issueId: issue.id}}"
                     class="list-group-item list-group-item-action d-flex"
                     v-for="issue of issues"
                     :key="issue.id">
          <div>
            <div class="mb-2">
              <span class="text-muted mr-1">
                #{{ issue.id }}
              </span>

              <span class="badge badge-secondary mr-1">
                {{ issue.status }}
              </span>

              {{ issue.title }}

              <span class="badge badge-pill badge-accent ml-1" v-for="label of issue.labels" :key="label.name">
                {{ label.name }}
              </span>
            </div>

            <div v-if="issue.assignedUsers.length > 0">
              Assigned users:
              <template v-for="(user, i) of issue.assignedUsers" :key="user.id">
                <span class="badge badge-accent mr-1" v-if="user.id === issue.author.id">
                  author
                </span>

                <router-link :to="{name: 'profile', params: {userId: user.id}}">
                  {{ user.username }}
                </router-link>

                {{ i < issue.assignedUsers.length - 2 ? ', ' : i === issue.assignedUsers.length - 2 ? ' and ' : '' }}
              </template>
            </div>
          </div>

          <div class="text-right ml-auto">
            <div class="mb-2">
              Author:
              <router-link :to="{name: 'profile', params: {userId: issue.author.id}}">
                {{ issue.author.username }}
              </router-link>
            </div>

            <div>
              Last change:
              <relative-date-time :date="issue.dateModified"/>
            </div>
          </div>
        </router-link>
      </div>
    </template>

    <div class="card-body" v-else>
      <p class="card-text">
        No issues found.
      </p>
    </div>
  </template>
</template>

<script lang="ts">
import { computed, defineComponent, onBeforeUnmount, PropType, ref, toRefs, watch } from 'vue';
import { useUniqueId } from '@/utils/uniqueId';
import { IProject } from '@/model/IProject';
import { IIssue, IssueStatus } from '@/model/IIssue';
import { IIssuesFilter, issuesService } from '@/services/IssuesService';
import { authService } from '@/services/AuthService';
import $ from 'jquery';
import { useProjectAccess } from '@/utils/projectAccess';
import debounce from 'lodash/debounce';
import CheckboxSelect from '@/components/CheckboxSelect.vue';
import { IProjectMember } from '@/model/IProjectMember';
import { membersService } from '@/services/MembersService';
import { ILabel } from '@/model/ILabel';
import { labelsService } from '@/services/LabelsService';
import RelativeDateTime from '@/components/RelativeDateTime.vue';
import MarkdownEditor from '@/components/MarkdownEditor.vue';
import SearchableDropdown from '@/components/SearchableDropdown.vue';
import { IUserInfo } from '@/model/IUserInfo';
import { localizeErrorCode } from '@/utils/localization';

export default defineComponent({
  components: {SearchableDropdown, MarkdownEditor, RelativeDateTime, CheckboxSelect},
  props: {
    project: {
      type: Object as PropType<IProject>,
      required: true
    },
    isUpdating: {
      type: Boolean as PropType<boolean>,
      required: true
    },
    updateProject: {
      type: Function as PropType<<T>(func: () => Promise<T>) => Promise<T>>,
      required: true
    }
  },
  setup(props: { project: IProject }) {
    const id = useUniqueId('issues-tab');

    const {project} = toRefs(props);

    const projectAccess = useProjectAccess(project);
    const projectMembers = ref<IProjectMember[]>([]);
    const projectLabels = ref<ILabel[]>([]);

    const loadProjectMembers = () => {
      membersService.getAll(project.value.id).then(result => {
        if (result.hasError) {
          console.error(result);
        } else {
          projectMembers.value = result.value;
        }
      });
    };

    watch(
        project,
        () => {
          loadProjectMembers();
        }
    );

    const loadProjectLabels = () => {
      labelsService.getAll(project.value.id).then(result => {
        if (result.hasError) {
          console.error(result);
        } else {
          projectLabels.value = result.value;
        }
      });
    };

    watch(
        project,
        () => {
          loadProjectLabels();
        }
    );

    const issuesError = ref<string>();
    const issues = ref<IIssue[]>();

    const titleFilter = ref('');
    const statusFilter = ref<IssueStatus | undefined>(IssueStatus.Open);
    const authorsFilter = ref<IProjectMember[]>([]);
    const labelsFilter = ref<ILabel[]>([]);

    const getFilter = (): IIssuesFilter => ({
      title: titleFilter.value || undefined,
      status: statusFilter.value,
      authors: authorsFilter.value.length > 0 ? authorsFilter.value.map(m => m.user.id) : undefined,
      labels: labelsFilter.value.length > 0 ? labelsFilter.value.map(l => l.name) : undefined
    });

    const loadIssues = debounce(async () => {
      issuesError.value = undefined;

      const result = await issuesService.getAll(project.value.id, getFilter());

      if (result.hasError) {
        issuesError.value = localizeErrorCode(result.errorCode!);
      } else {
        issues.value = result.value;
      }
    }, 300);

    watch(
        [project, () => getFilter()],
        () => {
          loadIssues()
        }
    );

    const createModalRef = ref<HTMLElement>();
    const createError = ref<string>();
    const creating = ref(false);
    const createTitle = ref('');
    const createBody = ref('');
    const createLabels = ref<ILabel[]>([]);
    const addedLabel = ref<ILabel | null>(null);
    const createAssignedUsers = ref<IUserInfo[]>([]);

    const filteredProjectLabels = computed(() => projectLabels.value.filter(label => !createLabels.value.some(createLabel => createLabel.name === label.name)));

    watch(addedLabel, (addedLabelValue, oldAddedLabelValue) => {
      if (addedLabelValue?.name !== oldAddedLabelValue?.name) {
        if (addedLabelValue) {
          createLabels.value = [...createLabels.value, addedLabelValue];
          addedLabel.value = null;
        }
      }
    });

    const removeLabel = (label: ILabel) => {
      createLabels.value = createLabels.value.filter(l => l.name !== label.name);
    };

    const resetCreate = () => {
      createTitle.value = '';
      createBody.value = '';
      createLabels.value = [];
      createAssignedUsers.value = [];
    };

    const onCreate = () => {
      createError.value = undefined;
      creating.value = true;

      issuesService.create(project.value.id, {
        title: createTitle.value,
        body: createBody.value,
        authorId: authService.claims.value!.userId,

        assignedUsers: createAssignedUsers.value.map(user => user.id),
        labels: createLabels.value.map(label => label.name)
      }).then(async result => {
        if (result.hasError) {
          createError.value = localizeErrorCode(result.errorCode!);
        } else {
          resetCreate();

          $(createModalRef.value!).modal('hide');

          loadIssues();
          await loadIssues.flush();
        }
      }).finally(() => {
        creating.value = false;
      });
    };

    loadProjectMembers();
    loadProjectLabels();
    loadIssues();
    loadIssues.flush();

    return {
      id,

      IssueStatus,

      projectAccess,
      projectMembers,
      projectLabels,

      issuesError,
      issues,

      createModalRef,
      createError,
      creating,
      createTitle,
      createBody,
      createLabels,
      addedLabel,
      createAssignedUsers,
      filteredProjectLabels,
      removeLabel,
      onCreate,

      titleFilter,
      statusFilter,
      authorsFilter,
      labelsFilter
    };
  }
});
</script>
