<template>
  <router-view v-if="!isRoot"/>
  <view-project v-else-if="project" :project="project"/>
  <div class="card" v-else-if="error">
    <div class="card-header">
      Error
    </div>
    <div class="card-body">
      {{ error }}
    </div>
  </div>
  <div class="card" v-else>
    <div class="card-body">
      <p>
        Loading project...
      </p>

      <div class="progress">
        <div class="progress-bar progress-bar-striped progress-bar-animated w-100"></div>
      </div>
    </div>
  </div>
</template>

<script lang="ts">
import { computed, defineComponent, ref, watch } from 'vue';
import { projectsService } from '@/services/ProjectsService';
import ViewProject from '@/views/project/ViewProject.vue';
import { useRoute } from 'vue-router';
import { IProject } from '@/model/IProject';

export default defineComponent({
  components: {ViewProject},
  setup() {
    const route = useRoute();

    const error = ref<string>();
    const isRoot = computed(() => route.matched.every(matched => ['project', 'project-issues', 'project-settings'].includes(matched.name as string)));
    const project = ref<IProject>();

    watch(
        [
          () => route.params.projectId as string | undefined,
          isRoot,
        ] as const,
        async ([projectId, isRoot], [oldProjectId, oldIsRoot]) => {
          if ((oldProjectId !== projectId || oldIsRoot !== isRoot) && projectId && isRoot) {
            error.value = undefined;

            const result = await projectsService.get(projectId);

            if (result.hasError) {
              error.value = result.errorCode;
            } else if (!result.value) {
              error.value = 'Project does not exist.';
            } else {
              project.value = result.value;
            }
          }
        },
        {
          immediate: true
        }
    );

    return {
      error,
      isRoot,
      project
    };
  }
});
</script>
