<template>
  <div class="d-flex">
    <div class="list-group list-group-flush border-right">
      <a :href="'#' + id('general-tab')" class="list-group-item list-group-item-action active" data-toggle="list">
        General
      </a>
      <a :href="'#' + id('labels-tab')" class="list-group-item list-group-item-action" data-toggle="list">
        Labels
      </a>
      <a :href="'#' + id('members-tab')" class="list-group-item list-group-item-action" data-toggle="list">
        Members
      </a>
      <a :href="'#' + id('danger-zone-tab')" class="list-group-item list-group-item-action" data-toggle="list">
        Danger zone
      </a>
    </div>
    <div class="tab-content flex-grow-1 p-3">
      <div :id="id('general-tab')" class="tab-pane fade show active">
        <general-settings-tab :project="project" :is-updating="isUpdating" :update-project="updateProject"/>
      </div>
      <div :id="id('labels-tab')" class="tab-pane fade">
        <labels-settings-tab :project="project" :is-updating="isUpdating" :update-project="updateProject"/>
      </div>
      <div :id="id('members-tab')" class="tab-pane fade">
        <members-settings-tab :project="project" :is-updating="isUpdating" :update-project="updateProject"/>
      </div>
      <div :id="id('danger-zone-tab')" class="tab-pane fade">
        <danger-zone-tab :project="project" :is-updating="isUpdating" :update-project="updateProject"/>
      </div>
    </div>
  </div>
</template>

<script lang="ts">
import { defineComponent, PropType } from 'vue';
import { useUniqueId } from '@/utils/uniqueId';
import { IProject } from '@/model/IProject';
import GeneralSettingsTab from '@/views/project/settings/GeneralSettingsTab.vue';
import DangerZoneTab from '@/views/project/settings/DangerZoneSettingsTab.vue';
import LabelsSettingsTab from '@/views/project/settings/LabelsSettingsTab.vue';
import MembersSettingsTab from '@/views/project/settings/MembersSettingsTab.vue';

export default defineComponent({
  components: {MembersSettingsTab, LabelsSettingsTab, DangerZoneTab, GeneralSettingsTab},
  props: {
    project: {
      type: Object as PropType<IProject>,
      required: true
    },
    isUpdating: {
      type: Boolean as PropType<boolean>,
      required: true
    },
    updateProject: {
      type: Function as PropType<<T>(func: () => Promise<T>) => Promise<T>>,
      required: true
    }
  },
  setup() {
    const id = useUniqueId('settings-tab');

    return {
      id
    };
  }
});
</script>
