<template>
  <div class="card">
    <div class="card-header">
      <span class="badge badge-light">{{ project.visibility }}</span>
      {{ project.name }}
    </div>
    <div class="card-header">
      <ul class="nav nav-tabs card-header-tabs">
        <li class="nav-item">
          <router-link class="nav-link" :to="{name: 'project-issues', params: {projectId: project.id}}" active-class="active">
            Issues
          </router-link>
        </li>
        <li class="nav-item ml-auto" v-if="projectAccess.canModify">
          <router-link class="nav-link" :to="{name: 'project-settings', params: {projectId: project.id}}" active-class="active">
            Settings
          </router-link>
        </li>
      </ul>
    </div>
    <router-view :project="project" :is-updating="isUpdating" :update-project="updateProject"/>
  </div>
</template>

<script lang="ts">
import { defineComponent, PropType, ref, toRefs } from 'vue';
import { useUniqueId } from '@/utils/uniqueId';
import { IProject } from '@/model/IProject';
import { useProjectAccess } from '@/utils/projectAccess';

export default defineComponent({
  props: {
    project: {
      type: Object as PropType<IProject>,
      required: true
    }
  },
  setup(props: { project: IProject }) {
    const id = useUniqueId('view-project');

    const {project} = toRefs(props);

    const projectAccess = useProjectAccess(project);

    const isUpdating = ref(false);
    const updateProject = function <T>(func: () => Promise<T>): Promise<T> {
      isUpdating.value = true;

      return func().finally(() => {
        isUpdating.value = false;
      });
    }

    return {
      id,

      projectAccess,

      isUpdating,
      updateProject
    };
  }
});
</script>
