<template>
  <div class="card-body" v-if="projectsLoadingError">
    <div class="alert alert-danger">
      {{ projectsLoadingError }}
    </div>
  </div>

  <div class="card-body" v-else-if="!projects">
    <p class="card-text">
      Loading projects...
    </p>

    <div class="progress">
      <div class="progress-bar progress-bar-striped progress-bar-animated bg-primary w-100"></div>
    </div>
  </div>

  <template v-else>
    <div class="card-body border-bottom">
      <div>
        <input class="form-control" type="text" v-model="query" placeholder="Search by project title or id...">
      </div>

      <div class="d-flex form-inline mt-2" v-if="filterByVisibility">
        <div class="form-group my-1 mr-3">
          <label :for="id('visibility-filter')" class="mr-1">Visibility:</label>
          <select :id="id('visibility-filter')" v-model="visibilityFilter" class="custom-select">
            <option :value="undefined">Any</option>
            <option :value="ProjectVisibility.Public">Public</option>
            <option :value="ProjectVisibility.Private">Private</option>
          </select>
        </div>
      </div>
    </div>

    <div class="list-group list-group-flush" v-if="projects.length > 0">
      <router-link v-for="project of projects"
                   :key="project.id"
                   :to="{name: 'project', params: {projectId: project.id}}"
                   class="list-group-item list-group-item-action">
        <small class="text-muted">
          {{ project.id }}
        </small> <span style="font-size: 1.3rem;">
        {{ project.name }}
      </span> <span class="badge"
                    :class="{'badge-accent': project.visibility === ProjectVisibility.Public, 'badge-secondary': project.visibility === ProjectVisibility.Private}">
        {{ project.visibility }}
      </span>
      </router-link>
    </div>
    <div class="card-body" v-else>
      No projects found.
    </div>
  </template>
</template>

<script lang="ts">
import { defineComponent, ref, watch } from 'vue';
import { IProject, ProjectVisibility } from '@/model/IProject';
import { IProjectsFilter, projectsService } from '@/services/ProjectsService';
import { localizeErrorCode } from '@/utils/localization';
import debounce from 'lodash/debounce';
import { useUniqueId } from '@/utils/uniqueId';

export default defineComponent({
  props: {
    userId: {
      type: String
    },
    filterByVisibility: {
      type: Boolean,
      default: () => true
    }
  },
  setup(props: { userId?: string, filterByVisibility: boolean }) {
    const id = useUniqueId('projects-list-view');

    const projects = ref<IProject[]>();
    const projectsLoadingError = ref<string>();

    const query = ref('');
    const visibilityFilter = ref<ProjectVisibility>();

    const getFilter = (): IProjectsFilter => ({
      userId: props.userId,
      query: query.value || undefined,
      visibility: props.filterByVisibility ? visibilityFilter.value : undefined
    });

    const loadProjects = debounce(() => {
      projectsLoadingError.value = undefined;

      projectsService.getAll(getFilter()).then(result => {
        if (result.hasError) {
          projectsLoadingError.value = localizeErrorCode(result.errorCode!);
        } else {
          projects.value = result.value;
        }
      });
    }, 300);

    watch(
        () => getFilter(),
        () => loadProjects()
    );

    loadProjects();
    loadProjects.flush();

    return {
      id,

      ProjectVisibility,

      projects,
      projectsLoadingError,

      query,
      visibilityFilter
    };
  }
});
</script>
