<template>
  <div class="card">
    <div class="card-header">
      Projects
    </div>

    <div class="card-header">
      <ul class="nav nav-tabs card-header-tabs">
        <li class="nav-item" v-if="isLoggedIn">
          <a :href="'#' + id('my-projects')" data-toggle="tab" class="nav-link" :class="{'active': isLoggedIn}">
            My projects
          </a>
        </li>
        <li class="nav-item">
          <a :href="'#' + id('other-projects')" data-toggle="tab" class="nav-link" :class="{'active': !isLoggedIn}">
            {{ !isLoggedIn ? 'Public Projects' : 'Other projects' }}
          </a>
        </li>
      </ul>
    </div>

    <div class="tab-content">
      <div :id="id('my-projects')" class="tab-pane" :class="{'active show': isLoggedIn}">
        <div class="card-body border-bottom">
          <button class="btn btn-primary"
                  type="button"
                  data-toggle="modal"
                  :data-target="'#' + id('create-modal')">
            Create project
          </button>

          <div ref="createModalRef" class="modal fade" :id="id('create-modal')" tabindex="-1">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title">Create a new project</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>

                <div class="modal-body">
                  <div v-if="createError" class="alert alert-danger mb-3">
                    {{ createError }}
                  </div>

                  <form @submit.prevent="onCreate()">
                    <div class="form-group">
                      <label :for="id('create-name')">Name:</label>
                      <input :id="id('create-name')" class="form-control" v-model="name">
                    </div>

                    <div class="form-group">
                      <label :for="id('create-id')">Project id:</label>
                      <input :id="id('create-id')" class="form-control" v-model="projectId">
                    </div>

                    <div class="form-group">
                      <label>Visibility:</label>
                      <div class="custom-control custom-radio">
                        <input type="radio"
                               :id="id('create-visibility-public')"
                               name="create-visibility"
                               class="custom-control-input"
                               v-model="visibility"
                               :value="ProjectVisibility.Public" checked>
                        <label class="custom-control-label" :for="id('create-visibility-public')">Public</label>
                      </div>
                      <div class="custom-control custom-radio">
                        <input type="radio"
                               :id="id('create-visibility-private')"
                               name="create-visibility"
                               class="custom-control-input"
                               v-model="visibility"
                               :value="ProjectVisibility.Private">
                        <label class="custom-control-label" :for="id('create-visibility-private')">Private</label>
                      </div>
                    </div>
                  </form>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                  <button type="button" class="btn btn-primary" @click="onCreate()">Create</button>
                </div>
              </div>
            </div>
          </div>
        </div>

        <projects-list-view :user-id="currentUserId" :key="projectsUpdateNr"/>
      </div>
      <div :id="id('other-projects')" class="tab-pane" :class="{'active show': !isLoggedIn}">
        <projects-list-view :user-id="isLoggedIn ? '!' + currentUserId : undefined"
                            :filter-by-visibility="currentUserRole === Role.Admin"
                            :key="projectsUpdateNr"/>
      </div>
    </div>
  </div>
</template>

<script lang="ts">
import { computed, defineComponent, ref, watch } from 'vue';
import { projectsService } from '@/services/ProjectsService';
import { useUniqueId } from '@/utils/uniqueId';
import { authService } from '@/services/AuthService';
import $ from 'jquery';
import { ProjectVisibility } from '@/model/IProject';
import ProjectsListView from '@/views/projects/ProjectsListView.vue';
import { Role } from '@/model/Role';

function nameToId(name: string): string {
  return name.toLowerCase().replaceAll(' ', '-');
}

export default defineComponent({
  components: {ProjectsListView},
  setup() {
    const id = useUniqueId('projects');

    const projectsUpdateNr = ref(0);

    const createModalRef = ref<HTMLElement>();
    const createError = ref<string>();
    const projectId = ref('');
    const name = ref('');
    const visibility = ref(ProjectVisibility.Public);

    watch(
        name,
        (name, oldName) => {
          if (nameToId(oldName) === projectId.value) {
            projectId.value = nameToId(name);
          }
        }
    );

    const resetCreate = () => {
      name.value = '';
      visibility.value = ProjectVisibility.Public;
    };

    const onCreate = async () => {
      createError.value = undefined;

      const result = await projectsService.create({
        id: projectId.value,
        name: name.value,
        visibility: visibility.value,

        administrators: [authService.claims.value!.userId],
        otherMembers: []
      });

      if (result.hasError) {
        createError.value = result.errorCode;
      } else {
        resetCreate();

        $(createModalRef.value!).modal('hide');

        projectsUpdateNr.value++;
      }
    };

    return {
      id,

      ProjectVisibility,
      Role,

      isLoggedIn: authService.isLoggedIn,
      currentUserId: computed(() => authService.claims.value?.userId),
      currentUserRole: computed(() => authService.claims.value?.role),

      projectsUpdateNr,

      createModalRef,
      createError,
      projectId,
      name,
      visibility,
      onCreate
    };
  }
});
</script>
